<body>
  <header id="shaq-tiles" class="white bg-gray bg-cover bg-center">
  <div class="center px2 py4">
    <h1 class="h1 h0-responsive mt4 mb0 regular"><a href="/questions" class="button py2 button-transparent" id="welcome-title">Shaq Overflow</a></h1>
    <p class="h3">Will Shaq fit in the shack?</p>
    <% if !@user %>
      <a href="/login" id="welcome-login-btn" class="h3 button button-big mb4">Login</a>
    <% end %>
  </div>
</header>

</body>

</html>